<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.trial.mapper.CardTypeMapper">
    
    <resultMap type="CardType" id="CardTypeResult">
        <result property="cardId"    column="card_id"    />
        <result property="cardName"    column="card_name"    />
        <result property="cardType"    column="card_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCardTypeVo">
        select card_id, card_name, card_type, status, create_by, create_time, update_by, update_time, remark from card_type
    </sql>

    <select id="selectCardTypeList" parameterType="CardType" resultMap="CardTypeResult">
        <include refid="selectCardTypeVo"/>
        <where>  
            <if test="cardName != null  and cardName != ''"> and card_name like concat('%', #{cardName}, '%')</if>
            <if test="cardType != null  and cardType != ''"> and card_type = #{cardType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCardTypeByCardId" parameterType="Long" resultMap="CardTypeResult">
        <include refid="selectCardTypeVo"/>
        where card_id = #{cardId}
    </select>
        
    <insert id="insertCardType" parameterType="CardType" useGeneratedKeys="true" keyProperty="cardId">
        insert into card_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cardName != null">card_name,</if>
            <if test="cardType != null">card_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cardName != null">#{cardName},</if>
            <if test="cardType != null">#{cardType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCardType" parameterType="CardType">
        update card_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardName != null">card_name = #{cardName},</if>
            <if test="cardType != null">card_type = #{cardType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where card_id = #{cardId}
    </update>

    <delete id="deleteCardTypeByCardId" parameterType="Long">
        delete from card_type where card_id = #{cardId}
    </delete>

    <delete id="deleteCardTypeByCardIds" parameterType="String">
        delete from card_type where card_id in 
        <foreach item="cardId" collection="array" open="(" separator="," close=")">
            #{cardId}
        </foreach>
    </delete>
</mapper>